{% extends 'base.html' %}
{% load static %}
{% block title %} <title>ABOUT</title>{% endblock title %}
{% block content %}
{% block banner %}
{% endblock banner %}
     <!-- Welcome Area Starts -->
     <section class="welcome-area section-padding2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="welcome-img">
                        <img src="{% static 'assets/images/about11.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <div class="welcome-text mt-5 mt-md-0">
                        <h3><span class="style-change">About Foam Masters</span></h3>
                        <p class="pt-3">We are a manufacturing company based in Lusaka, Zambia. Our main objective as a company is manufacture and supply world class quality furniture to our clientele.</p>
                        <p>Our speciality in the furniture business is more dominant in the manufacturing and supply of beds, matresses, sofa sets, cusions, foam sheets and foam material.</p>
                        <a href="{% url 'contact_us' %}" class="template-btn mt-3">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Deshes Area Starts -->
    <div class="deshes-area section-padding">
      <div class="container">
          <div class="row">
          </div>
          <div class="row">
              <div class="col-lg-5 col-md-6 align-self-center">
                  <h1>01.</h1>
                  <div class="deshes-text">
                      <h3><span>What we bring to the table</span><br></h3>
                      <p class="pt-3" style="color: #000;">We produce the best quality products of international standards which are tried and tested by our hundred thousand plus customers around the country. We ensure to meet customer needs at very affordable prices. </p>
                      <a href="#" class="template-btn3 mt-3">Contact Us<span><i class="fa fa-long-arrow-right"></i></span></a>
                  </div>
              </div>
              <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                  <img src="{% static 'assets/images/A1.jpg' %}" alt="" class="img-fluid">
              </div>
          </div>
          <div class="row mt-5">
              <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                  <img src="{% static 'assets/images/A2.jpg' %}" alt="" class="img-fluid">
              </div>
              <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2">
                  <h1>02.</h1>
                  <div class="deshes-text">
                      <h3><span>What to expect</span></h3>
                      <p class="pt-3" style="color: #000;">Comfort is our main objective when we manufacture our products, we succeed when our customers are happy and Comfortable. Durability is at the top of our priority, We ensure genuine fabric and material is used to manufacture our products, thus, making them durable and long lasting. </p>
                      <a href="#" class="template-btn3 mt-3">Contact Us<span><i class="fa fa-long-arrow-right"></i></span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Deshes Area End -->

     <!-- FAQ STARTS -->

     <div class="section">
      <h1>FAQ</h1>
      <div class="container-1">

          <div class="faq">
              <div class="question">
                  <h2>Where is Foam Masters located?</h2>
                  <i class="fa fa-arrow-circle-o-right"></i>
              </div>
              <div class="answer">
                  <p>We are located at Plot 8076/A Chinika Industrial Area, off Mumbwa Road.</p>
              </div>
          </div>

          <div class="faq">
              <div class="question">
                  <h2>How many warehouses does Foam Masters have?</h2>
                  <i class="fa fa-arrow-circle-o-right"></i>
              </div>
              <div class="answer">
                  <p>Currently we have one warehouse which supplies all our quality products to our clients across the country.</p>
              </div>
          </div>


      </div>

      <div class="container-2">

          <div class="faq">
              <div class="question">
                  <h2>How can I get in touch with Foam Masters?</h2>
                  <i class="fa fa-arrow-circle-o-right"></i>
              </div>
              <div class="answer">
                  <p>You can get in touch with us through the contact page on this website or can visit us in person.</p>
              </div>
          </div>

          <div class="faq">
              <div class="question">
                  <h2>How can I be up to date with your product stock</h2>
                  <i class="fa fa-arrow-circle-o-right"></i>
              </div>
              <div class="answer">
                  <p>You can subscribe to our mail list and you will notified via the email you provide or you can follow our facebook page <a href="https://web.facebook.com/foammastersinvestmentslimited">https://web.facebook.com/foammastersinvestmentslimited</a>.</p>
              </div>
          </div>

      </div>

  </div>

     <!-- FAQ ENDS -->
{% endblock content %}