{% extends 'base.html' %}
{% load static %}
{% block title %} <title>ABOUT</title>{% endblock title %}
{% block content %}
{% block banner %}
{% endblock banner %}
     <!-- Welcome Area Starts -->
     <section class="welcome-area section-padding2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="welcome-img">
                        <img src="{% static 'assets/images/about11.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <div class="welcome-text mt-5 mt-md-0">
                        <h3><span class="style-change">welcome</span> <br>to Foam Masters</h3>
                        <p class="pt-3">We are a manufacturing company based in Lusaka, Zambia. Our main objective as a company is manufacture and supply world class quality furniture to our clientele.</p>
                        <p>Our speciality in the furniture business is more dominant in the manufacturing and supply of beds, matresses, sofa sets, cusions, foam sheets and foam material.</p>
                        <a href="#" class="template-btn mt-3">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->
{% endblock content %}