{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <!-- Page Title -->
    {% block title %}<title>FOAM MASTERS</title>{% endblock title %}


      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'assets/images/logo/web001.png' %}" type="image/x-icon">

      <!-- TOP BAR-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  
      <!-- CSS Files -->
      <link rel="stylesheet" href="{% static 'assets/css/animate-3.7.0.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/font-awesome-4.7.0.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap-4.1.3.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">


</head>
  <body>
    <!-- Preloader Starts -->
        <div class="preloader">
            <div class="spinner"></div>
        </div>
    <!-- Preloader End -->

    
    <!-- Header Area Starts -->
	<header class="header-area">
        <div class="container"> 
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo/web001.png' %}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">home</a></li>
                            <li><a href="{% url 'about' %}">about</a></li>
                            <li><a href="{% url 'products' %}">Products</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'extra_high_density' %}">Extra high Density</a></li>
                                    <!-- <li><a href="{% url 'high_density' %}">High Density</a></li> -->
                                    <li><a href="{% url 'medium_density' %}">Medium Density</a></li>
                                    <li><a href="{% url 'high_quality' %}">High Quality</a></li>
                                    <li><a href="{% url 'normal_quality' %}">Normal Quality</a></li>
                                    <li><a href="{% url 'furniture' %}">Furniture</a></li>
                                    <li><a href="{% url 'cusions_and_foams' %}">Cusions & Foam Sheets</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'catalog' %}">Catalog</a></li>
                            <li><a href="{% url 'contact_us' %}">contact</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'mail' %}">Mail</a></li>
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            <li><a id="login-btn" href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a id="login-btn" href="{% url 'login' %}">Login</a></li> 
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
        {% block banner %}
        <!-- Banner Area Starts -->
        <section class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Welcome to foam masters</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Area End -->
        {% endblock banner %}

   {% block content %}
   
   {% endblock content %}

   {% block newsletter %}
   <!--SUBSCRIBE TO MAIL LIST -->
    <section class="news-area section-padding" >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="single-food">
                        <div class="blank">
                            <h5>GET UPDATES ON OUR LATEST PRODUCTS AND SERVICES.</h5>
                            <p>Be the first one to know whats in our stock.</p>
                            <p>Contact our sales team at (+260) 211-286 776 or email us on sales@foamMasters.com.zm</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-food mt-5 mt-sm-0">
                        {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                        {% endfor %}
                            <h4 style="font-family: Arial;">Subscribe to our newsletter</h4>
                            <hr>

                            <form action="." method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input class="btn btn-primary btn-block" type="submit" value="Subscribe">
                            </form>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
   {% endblock newsletter %}


    <!-- Footer Area Starts -->
    <footer class="footer-area">
        <div class="footer-widget section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-widget single-widget1">
                            <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo/web001.png' %}" alt="logo"></a>
                            <p class="mt-3">A beautiful home needs beautiful furniture and Foam Masters Limited is the source for the best quality household furniture</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-widget single-widget2 my-5 my-md-0">
                            <h5 class="mb-4">contact us</h5>
                            <div class="d-flex">
                                <div class="into-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p>Plot 8076/A Chinika industrial area, Off Mumbwa road </p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="into-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="info-text">
                                    <p>+26077 1940 452</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="into-icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="info-text">
                                    <p>foammaster@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-widget single-widget3">
                            <h5 class="mb-4" style="margin-left: 10px;">LICENSED EXPORTER</h5>
                            <p style="margin-left: 10px;">Licensed to export internationally to all SADC countries & members of COMESA.</p>
                            <img src="{% static 'assets/images/comesa.png' %}" alt="" style="height: 100px;">
                            <img src="{% static 'assets/images/sadc.png' %}" alt="" style="height: 100px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <span>
Copyright &copy; 2022 <a>Foam Masters</a> 
<!-- DESIGNED BY JACOB MWALE & REACHY DESIGNS-->
<!-- jacobwilsonpmwale@gmail.com -->
<!-- www.github.com/Alsaahir -->

<!-- Reachyjhones@gmail.com -->

                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li class="no-margin">Follow Us</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'assets/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I"></script>
    <script src="{% static 'assets/js/vendor/gmaps.min.js' %}"></script>
      
</body>
</html>
