{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Contact us</title>{% endblock title %}
{% block content %}
{% block banner %}
{% endblock banner %}
 <!-- Food Area starts -->
 <section class="food-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-top">
					<h3><span class="style-change">Foam Masters</span> <br/>If you are looking for the best, then you are in the right place.</h3><br/>
                    <P>If you have any queries, you can contact our marketing department or you can visit us at Plot 8076/A Chinika industrial areas, off Mumbwa road.</p>
				</div>
			</div>
		</div>
		<div class="row">

		</div>
	</div>
</section>
<!-- Food Area End -->

    <!-- Map Area Starts -->
    <section class="map-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="mapBox" class="mapBox">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3846.2939376193785!2d28.260839814467417!3d-15.41467881783547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1940f527188d943f%3A0xe6d46b49b5f27100!2sFoam%20Masters!5e0!3m2!1sen!2szm!4v1671616876849!5m2!1sen!2szm" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Area End -->


    <!-- Contact Form Starts -->
    <section class="contact-form section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex">
                        <div class="into-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="info-text">
                            <h5>Plot 8076/A Chinika industrial area</h5>
                            <p>Off Mumbwa road</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="into-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="info-text">
                            <h5>+26077 1940 452</h5>
                            <p>Mon - Sat</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="into-icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="info-text">
                            <h5>foammaster@gmail.com</h5>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form action="#">
                        <div class="left">
                            <input type="text" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" required>
                            <input type="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" required>
                            <input type="text" placeholder="Enter subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" required>
                        </div>
                        <div class="right">
                            <textarea name="message" cols="20" rows="7"  placeholder="Enter Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" required></textarea>
                        </div>
                        <button type="submit" class="template-btn">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Form End -->

{% endblock content %}