{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Dream foam collection</title>{% endblock title %}
{% block content %}
 <!-- Update Area Starts -->
 <section class="update-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Our <span>best</span> offers</h3>
                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'assets/images/update1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="post-admin d-lg-flex mb-3">
                        </div>
                        <h5>no finer food can be found</h5>
                        <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-food my-5 my-md-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/update2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="post-admin d-lg-flex mb-3">
                        </div>
                        <h5>things go better with food</h5>
                        <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'assets/images/update3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="post-admin d-lg-flex mb-3">
                        </div>
                        <h5>food head above the rest</h5>
                        <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Update Area End -->
{% endblock content %}