{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Extra High Density</title>{% endblock title %}
{% block content %}
{% block banner %}
{% endblock banner %}

 <!-- Food Area starts -->
 <section class="food-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-top">
					<h3><span class="style-change">Home > Extra high density</span> <br></h3>
					<p class="pt-3">Take a look at some of our best products.They are very affordable and they come in different shapes and sizes to suit your needs.</p>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'assets/images/Extra_high.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-sm-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/Extra_high3.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-md-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/Extra_high2.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Food Area ends -->
{% endblock content %}
