{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Page Title -->
{% block title %}<title>FOAM MASTERS</title>{% endblock title %}
         
{% block content %}
{% block banner %}
{% endblock banner %}

<!--image slider start-->
<div class="slider">
    <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--radio buttons end-->

      <!--slide images start-->
      <div class="slide first">
        <!-- Banner Area Starts -->
        <section class="banner-area text-center">
          <div class="container">
              <div class="row">
                <div class="col-lg-12">
                    <h1>Welcome to Foam<span class="prime-color"> Masters</span></h1><br>  
                    <h3>Manufacturers and Suppliers of the Best Quality Furniture</h3>
                </div>
              </div>
          </div>
      </section>
      <!-- Banner Area End -->
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/web02.jpg' %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/web03.jpg' %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/web04.jpg' %}" alt="">
      </div>
      <!--slide images end-->
      <!--automatic navigation start-->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
      <!--automatic navigation end-->
    </div>
    <!--manual navigation start-->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
    <!--manual navigation end-->
  </div>

    <!-- Food Area starts -->
 <section class="asurance-area">
	<div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'assets/images/01.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>VALUE FOR MONEY</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">We ensure our clients are satisfied & happy with what they are paying for.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-sm-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/02.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>DURABILITY</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">We supply long lasting products. Durability is what we are knon for.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-md-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/03.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>QUALITY</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Expect the very best in as much as quality is concerned</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

    <!-- Reservation Area Starts -->
    <div class="reservation-area section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Proudly Zambian</h1>
                    <h3 class="mt-4">If you want the best think Foam Masters.</h3>
                    {% comment %} <a href="{% url 'about' %}" class="btn btn-primary">Learn More</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation Area End -->

         {% block newsletters %}
         <!--SUBSCRIBE TO MAIL LIST -->
          <section class="news-area section-padding" >
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                          <div class="single-food">
                              <div class="blank">
                                  <h5>GET UPDATES ON OUR LATEST PRODUCTS AND SERVICES.</h5>
                                  <p>Be the first one to know whats in our stock.</p>
                                  <p>Contact our sales team at (+260) 211-286 776 or email us on sales@foamMasters.com.zm</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                          <div class="single-food mt-5 mt-sm-0">
                              {% for message in messages %}
                              <div class="alert alert-success">
                                  {{ message }}
                              </div>
                              {% endfor %}
                                  <h4>Subscribe to our newsletter</h4>
                                  <hr>
      
                                  <form action="." method="POST">
                                      {% csrf_token %}
                                      {{ form|crispy }}
                                      <input class="btn btn-primary btn-block" type="submit" value="Subscribe">
                                  </form>
      
                          </div>
                      </div>
                      
                  </div>
              </div>
          </section>
         {% endblock newsletters %}
         


 <!-- Testimonial Area Starts -->
 <section class="testimonial-area section-padding4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Customer <span>says</span></h3>
                    <p><i>Don't believe we are the best? Hear it for yourself from our satisfied customers.</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-slider owl-carousel">
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="{% static 'assets/images/anonymous4.jpg' %}" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>Anonymous</h5>
                            <span style="color: #000;"><i>Satisfied Customer</i></span>
                            <p class="pt-3" style="color: #000;">I have never bought anything this durable. You guys are the best!.</p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="{% static 'assets/images/anonymous2.png' %}" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>Anonymous</h5>
                            <span style="color: #000;"><i>Satisfied Customer</i></span>
                            <p class="pt-3" style="color: #000;">I enjoy quality movie time with my family in the living room. Thank you so much foam masters for the comfortable quality sofa set!.</p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="{% static 'assets/images/anonymous1.jpg' %}" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>Anonymous</h5>
                            <span style="color: #000;"><i>Satisfied Customer</i></span>
                            <p class="pt-3" style="color: #000;">I used to have back pains on my old matress but thanks to foam masters, I now sleep like a baby.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End -->

    {% block newsletter %}
    {% endblock newsletter %}
    
     {% endblock content %}