{% extends 'base.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}<title>FOAM MASTERS</title>{% endblock title %}
         
{% block content %}
{% block banner %}
{% endblock banner %}

<!--image slider start-->
<div class="slider">
    <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--radio buttons end-->

      <!--slide images start-->
      <div class="slide first">
        <!-- Banner Area Starts -->
        <section class="banner-area text-center">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <h6>Welcome to foam masters</h6>
                      <h1>Discover great and special <span class="prime-color">offers</span><br> 
                  </div>
              </div>
          </div>
      </section>
      <!-- Banner Area End -->
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/cover2.jpg' %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/bg.jpg' %}" alt="">
      </div>
      <div class="slide">
        <img src="https://i.imgur.com/IO2tBwy.jpg" alt="">
      </div>
      <!--slide images end-->
      <!--automatic navigation start-->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
      <!--automatic navigation end-->
    </div>
    <!--manual navigation start-->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
    <!--manual navigation end-->
  </div>
  <!--image slider end-->

  <!-- 3 part section -->
  <section>
   <div class="div_right">
        <center><img src="{% static 'assets/images/100.png' %}" alt=""></center>
   </div>
    <div class="div_left">
        <center><img src="{% static 'assets/images/200.png' %}" alt=""></center>
    </div>
    <div class="div_middle">
        <center><img src="{% static 'assets/images/300.png' %}" alt=""></center>
    </div>
  </section>
    <!-- 3 part section ends here-->

        <!-- Reservation Area Starts -->
        <div class="reservation-area section-padding text-center">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <h2>PROUDLY ZAMBIAN</h2>
                      <h4 class="mt-4">If you want the best, think Foam Masters</h4>
                  </div>
              </div>
          </div>
      </div>
       <!-- Reservation Area End -->

        <!-- Update Area Starts -->
        <section class="update-area section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-top2 text-center">
                          <h3>Our <span>best</span> offers</h3>
                          <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <div class="single-food">
                          <div class="food-img">
                              <img src="{% static 'assets/images/update1.jpg' %}" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="post-admin d-lg-flex mb-3">
                              </div>
                              <h5>no finer food can be found</h5>
                              <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="single-food my-5 my-md-0">
                          <div class="food-img">
                              <img src="{% static 'assets/images/update2.jpg' %}" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="post-admin d-lg-flex mb-3">
                              </div>
                              <h5>things go better with food</h5>
                              <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="single-food">
                          <div class="food-img">
                              <img src="{% static 'assets/images/update3.jpg' %}" class="img-fluid" alt="">
                          </div>
                          <div class="food-content">
                              <div class="post-admin d-lg-flex mb-3">
                              </div>
                              <h5>food head above the rest</h5>
                              <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Update Area End -->
    
     {% endblock content %}