{% extends 'base.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}<title>FOAM MASTERS</title>{% endblock title %}
         
{% block content %}
{% block banner %}
{% endblock banner %}

<!--image slider start-->
<div class="slider">
    <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--radio buttons end-->

      <!--slide images start-->
      <div class="slide first">
        <!-- Banner Area Starts -->
        <section class="banner-area text-center">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <h6>Welcome to foam masters</h6>
                  </div>
              </div>
          </div>
      </section>
      <!-- Banner Area End -->
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/web02.jpg' %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/web03.jpg' %}" alt="">
      </div>
      <div class="slide">
        <img src="{% static 'assets/images/web04.jpg' %}" alt="">
      </div>
      <!--slide images end-->
      <!--automatic navigation start-->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>
      <!--automatic navigation end-->
    </div>
    <!--manual navigation start-->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
    <!--manual navigation end-->
  </div>
  <!--image slider end-->

  <!-- three part section -->
  <section>
   <div class="div_right">
        <center><img src="{% static 'assets/images/1000.png' %}" alt=""></center>
   </div>
    <div class="div_left">
        <center><img src="{% static 'assets/images/2000.png' %}" alt=""></center>
    </div>
    <div class="div_middle">
        <center><img src="{% static 'assets/images/3000.png' %}" alt=""></center>
    </div>
  </section>
<!-- 3 part section ends here-->


        <!-- Reservation Area Starts -->
        <div class="reservation-area section-padding text-center">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                  </div>
              </div>
          </div>
      </div>
       <!-- Reservation Area End -->
    
     {% endblock content %}