{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Medium Density</title>{% endblock title %}
{% block content %}
{% block banner %}
{% endblock banner %}

 <!-- Food Area starts -->
 <section class="food-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-top">
					<h3><span class="style-change">Foam Masters</span> <br>If you are looking for the best, you are in the right place</h3>
					<p class="pt-3">Take a look at some of our best products.They are very affordable and they come in different shapes and sizes to suit your needs.</p>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'assets/images/medium.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Mexican Eggrolls</h5>
                            <span class="style-change">$14.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-sm-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/medium2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>chicken burger</h5>
                            <span class="style-change">$9.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-md-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/medium3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>topu lasange</h5>
                            <span class="style-change">$12.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Food Area ends -->
{% endblock content %}
