{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Products</title>{% endblock title %}
{% block content %}
{% block banner %}
{% endblock banner %}

 <!-- Food Area starts -->
 <section class="food-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-top">
					<h3><span class="style-change">Foam Masters</span> <br>If you are looking for the best, you are in the right place</h3>
					<p class="pt-3">Take a look at some of our best products.They are very affordable and they come in different shapes and sizes to suit your needs.</p>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Extra High Density</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-sm-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>High Density</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-md-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Medium Density</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food4.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>High Quality</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food5.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Normal Quality</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food6.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Furniture</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Cusions</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/food3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Foam Sheets</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'products' %}">See more</a></span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Food Area ends -->


<!-- <section>
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h5><strong>{{product.name}}</strong></h5>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Cart</button>
				
				<a class="btn btn-outline-primary" href="#">View</a>

			</div>
		</div>
		{% endfor %}
	</div>
</section> -->


{% endblock content %}
