{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Products</title>{% endblock title %}
{% block content %}
{% block banner %}
{% endblock banner %}

 <!-- Food Area starts -->
 <section class="food-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="section-top">
					<h3><span class="style-change">Home > Products</span style="color: #000;"></h3><br/><br/>
					<p class="pt-3">Take a look at some of our best products.They are very affordable and they come in different shapes and sizes to suit your needs.</p>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'assets/images/Extra_high3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Extra High Density</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'extra_high_density' %}">See more</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-md-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/medium.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Medium Density</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'medium_density' %}">See more</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5 mt-md-0">
                    <div class="food-img">
                        <img src="{% static 'assets/images/HQ2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>High Quality</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'high_quality' %}">See more</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/NQ.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Normal Quality</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'normal_quality' %}">See more</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/01.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Furniture</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'furniture' %}">See more</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/C1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Cusions</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'cusions_and_foams' %}">See more</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="{% static 'assets/images/C2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Foam Sheets</h5>
                            <span class="style-change"><a class="btn btn-primary" href="{% url 'cusions_and_foams' %}">See more</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Food Area ends -->

{% endblock content %}
