{% extends 'base.html' %}
{% load static %}
{% block title%}
    <title>Reset your Password</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% block banner %}
{% endblock banner %}

You are seeing this message because you asked for a password reset for email {{ email }}.
Follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
yourn user name in case you've forgotten: {{ user.get_username }}

{% block newsletter %}
{% endblock newsletter %}
{% endblock content %}