{% extends 'base.html' %}
{% load static %}
{% block title%}
    <title>Password Reset form</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% block banner %}
{% endblock banner %}
<!-- LOGIN FORM -->
<section class="subscription_form section-padding">
 <div class="container">
     <div class="row">
         <div class="col-md-6 offset-md-3">
             <div class="card">
                 <div class="card-body">
                     <h4>Forgotten your Password?</h4>
                     <p>Enter your email address to set a new password</p>
                     <hr>
                     <form action="." method="POST">
                         {% csrf_token %}
                         {{ form|crispy }}
                         <input class="btn btn-primary btn-block" type="submit" value="Login">

                     </form>
                 </div>
             </div>
         </div>
     </div> 
 </div>
</section>
{% block newsletter %}
{% endblock newsletter %}
{% endblock content %}