{% extends 'base.html' %}
{% load static %}
{% block title%}
    <title>Reset your Password</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% block banner %}
{% endblock banner %}

<section class="subscription_form section-padding">
 <div class="container">
     <div class="row">
         <div class="col-md-10 offset-md-1">
             <div class="card">
                 <div class="card-body">
                     <h4>Reset your Password</h4>
                     <hr>
                 </div>
                 <P>We have emailed you instructions for setting up a new Password.</p>
                <P>If you don't recieve an email, please make sure to enter the email address you registered with.</p>
             </div>
         </div>
     </div> 
 </div>
</section>
{% block newsletter %}
{% endblock newsletter %}
{% endblock content %}