{% extends 'base.html' %}
{% load static %}
{% block title%}
    <title>Reset your Password</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% block banner %}
{% endblock banner %}

<section class="subscription_form section-padding">
 <div class="container">
     <div class="row">
         <div class="col-md-10 offset-md-1">
             <div class="card">
                 <div class="card-body">
                     <h4>Password set successfully!</h4>
                     <hr>
                 </div>
                 <P>Your password has been set. You can now <a href="{% url 'login' %}">login</a> .</p>
             </div>
         </div>
     </div> 
 </div>
</section>
{% block newsletter %}
{% endblock newsletter %}
{% endblock content %}