{% extends 'base.html' %}
{% load static %}
{% block title%}
    <title>Set new Password</title>
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% block banner %}
{% endblock banner %}
<!-- LOGIN FORM -->
<section class="subscription_form section-padding">
 <div class="container">
     <div class="row">
        {% if validlink %}
         <div class="col-md-6 offset-md-3">
             <div class="card">
                 <div class="card-body">
                     <h4>Create new Password</h4>
                     <p>Please enter your new password twice:</p>
                     <hr>
                     <form action="." method="POST">
                         {% csrf_token %}
                         {{ form|crispy }}
                         <input class="btn btn-primary btn-block" type="submit" value="Login">

                     </form>
                 </div>
                 {% else %}
                 <P>The password reset link was invalid, possibly because it has already been used. please request for a new password reset.</a></p>
                {% endif %} 
             </div>
         </div>
     </div> 
 </div>
</section>
{% block newsletter %}
{% endblock newsletter %}
{% endblock content %}